<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="http://localhost:8080/congkhai/assets/images/logo2.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js -->
    <link rel="stylesheet" href="http://localhost:8080/congkhai/assets/css/swiper-bundle.min.css" />
    <!-- link css -->
    <link rel="stylesheet" href="http://localhost:8080/congkhai/assets/css/style.css">

    <!-- bắt sự kiện onclick đăng xuất -->
    <link rel="stylesheet" href="http://localhost:8080/congkhai/btn_dang_xuat.js">


</head>

<body>
    <!-- Header -->
    <header class="header" id="header">
        <nav class="navbar container">
            <div class="logo">
                <a href="/">
                    <!-- <img src="http://localhost:8080/congkhai/logo.png" alt="" class="logo-image"> -->
                    <h3 class="animate-charcter">DarkT</h3>
                </a>
            </div>

            <!-- <h2 class="name">Nyx</h2> -->

            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="/" class="list-link current">Trang Chủ</a>
                    </li>
                    <li class="list-item">
                        <a href="/products" class="list-link">Sản Phẩm</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">giỏ hàng</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Liên Hệ</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link screen-lg-hidden">Đăng nhập</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link screen-lg-hidden">Đăng ký</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">

                <input type="text" hidden class="id_user" value="<%= id%>">

                <button hidden class="btn place-items-center" id="search-icon">

                </button>

                <button class="btn place-items-center" id="theme-toggle-btn">

                </button>


                <button class="btn place-items-center" id="cart-icon">

                    <h3 class="click_profile">
                        <% if(data.length==0) { %>

                            <% } else { %>

                                <%= "xin chào " + data %>

                                    <% } %>

                    </h3>
                    <% console.log("data1 : ", data )  %>
                    
                </button>



                <button class="btn place-items-center" id="cart-icon">
                    <i class="ri-shopping-cart-line"></i>
                </button>



                <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </button>

                <% if(data.length==0) { %>
                    <a href="#" class="list-link screen-sm-hidden" id="btn_dang_xuat">
                        <form action="/login" method="get">
                            <input type="submit" value="Đăng Nhập">
                        </form>
                    </a>
                    <% } else { %>
                        <a href="/" class="list-link screen-sm-hidden" id="btn_dang_xuat">
                            <form action="/" method="post">
                                <input type="submit" value="Đăng Xuất">
                            </form>
                        </a>
                        <% } %>


                            <a href="/register" class="list-link screen-sm-hidden btn sign-up-btn fancy-border">
                                <span>Đăng ký</span>
                            </a>

            </div>
        </nav>

    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input type="text" class="form-input" placeholder="Bạn muốn tìm kiếm gì?">
                <button class="btn form-btn" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Nhấn Esc để đóng</span>
        </div>

        <button class="btn form-close-btn place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </button>
    </div>

    <!-- Featured articles -->

    <section class=" section-header-offset">
        <img src="http://localhost:8080/congkhai/assets/images/banner_web.png" alt="" srcset="">
    </section>


    <!-- Quick read -->
    <section class="quick-read section">

        <div class="container">

            <h2 class="title section-title" data-name="Đọc Nhanh">XEM NHANH</h2>

            <div class="swiper">
                <div class="swiper-wrapper">

                    <a href="#" class="article swiper-slide">

                        <img src="http://localhost:8080/congkhai/img_product/1702193719521-261459302-mu%20long%20cuu.jpg"
                            alt="" class="article-image">

                        <div class="article-data">
                            <span>Aug 6th 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>24 min red </span>
                        </div>

                    </a>


                    <a href="#" class="article swiper-slide">
                        <img src="http://localhost:8080/congkhai/img_product/1702189656699-637583567-tui%20xach.png "
                            alt="" class="article-image">

                        <div class="article-data-container">

                            <div class="article-data">
                                <span>Aug 6th 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>24 min red </span>
                            </div>


                        </div>
                    </a>


                    <a href="#" class="article swiper-slide">
                        <img src="http://localhost:8080/congkhai/assets/images/quickread/quickread-3.jpg" alt=""
                            class="article-image">

                        <div class="article-data-container">

                            <div class="article-data">
                                <span>Aug 6th 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>26 min red </span>
                            </div>

                            <h3 class="title article-title">Ảnh kết hợp công nghệ ?</h3>
                        </div>
                    </a>


                    <a href="#" class="article swiper-slide">
                        <img src="http://localhost:8080/congkhai/assets/images/quickread/quickread-4.jpg" alt=""
                            class="article-image">

                        <div class="article-data-container">

                            <div class="article-data">
                                <span>Dec 6th 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>27 min red </span>
                            </div>

                            <h3 class="title article-title">Tin tức bóng đá.</h3>
                        </div>
                    </a>


                </div>

                <div class="swiper-button-prev swiper-controls"></div>
                <div class="swiper-button-next swiper-controls"></div>

                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>


    <!-- Older posts -->
    <section class="older-posts section">

        <div class="container">

            <h2 class="title section-title" data-name="Bài viết cũ">Bài viết cũ</h2>

            <div class="older-posts-grid-wrapper d-grid">

                <a href="#" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="http://localhost:8080/congkhai/assets/images/olderposts/olderposts-1.jpg" alt=""
                            class="article-image">
                    </div>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>Aug 5th 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min red </span>
                        </div>

                        <h3 class="title article-title">Chương mới One piece !</h3>
                        <p class="article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Similique a tempore sapiente corporis, eaque fuga placeat odit voluptatibus.</p>
                    </div>
                </a>

                <a href="#" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="http://localhost:8080/congkhai/assets/images/olderposts/olderposts-2.gif" alt=""
                            class="article-image">
                    </div>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>Aug 5th 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min red </span>
                        </div>

                        <h3 class="title article-title">Ảnh gif đẹp 2022</h3>
                        <p class="article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Similique a tempore sapiente corporis, eaque fuga placeat odit voluptatibus.</p>
                    </div>
                </a>

                <a href="#" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="http://localhost:8080/congkhai/assets/images/olderposts/olderposts-3.jpg" alt=""
                            class="article-image">
                    </div>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>Aug 5th 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min red </span>
                        </div>

                        <h3 class="title article-title">Ảnh gái xinh 2022</h3>
                        <p class="article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Similique a tempore sapiente corporis, eaque fuga placeat odit voluptatibus.</p>
                    </div>
                </a>

                <a href="#" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="http://localhost:8080/congkhai/assets/images/olderposts/olderposts-4.jpg" alt=""
                            class="article-image">
                    </div>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>Aug 5th 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min red </span>
                        </div>

                        <h3 class="title article-title">Mẫu motor mới nhất ?</h3>
                        <p class="article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Similique a tempore sapiente corporis, eaque fuga placeat odit voluptatibus.</p>
                    </div>
                </a>

                <a href="#" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="http://localhost:8080/congkhai/assets/images/olderposts/olderposts-5.jpg" alt=""
                            class="article-image">
                    </div>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>Aug 5th 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min red </span>
                        </div>

                        <h3 class="title article-title">Khoa học viễn tưởng</h3>
                        <p class="article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Similique a tempore sapiente corporis, eaque fuga placeat odit voluptatibus.</p>
                    </div>
                </a>

                <a href="#" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="http://localhost:8080/congkhai/assets/images/olderposts/olderposts-6.jpg" alt=""
                            class="article-image">
                    </div>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>Aug 5th 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min red </span>
                        </div>

                        <h3 class="title article-title">Các loại guitar basic</h3>
                        <p class="article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Similique a tempore sapiente corporis, eaque fuga placeat odit voluptatibus.</p>
                    </div>
                </a>
            </div>

            <div class="see-more-container">
                <a href="#" class="btn see-more-btn place-items-center">
                    Xem thêm <i class="ri-arrow-right-s-line"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- Popular tags -->
    <section class="popular-tags section">

        <div class="container">

            <h2 class="title section-title" data-name="Thẻ phổ biến">Thẻ phổ biến</h2>

            <div class="popular-tags-container d-grid">

                <a href="#" class="article">
                    <span class="tag-name">#anime</span>
                    <img src="http://localhost:8080/congkhai/assets/images/tags/anime-tags.jpg" alt=""
                        class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#art</span>
                    <img src="http://localhost:8080/congkhai/assets/images/tags/art-tags.gif" alt=""
                        class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#cosplay</span>
                    <img src="http://localhost:8080/congkhai/assets/images/tags/cosplay-tags.jpg" alt=""
                        class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#technology</span>
                    <img src="http://localhost:8080/congkhai/assets/images/tags/technology-tags.jpg" alt=""
                        class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#sport</span>
                    <img src="http://localhost:8080/congkhai/assets/images/tags/sport-tags.jpg" alt=""
                        class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#science</span>
                    <img src="http://localhost:8080/congkhai/assets/images/tags/science-tags.jpg" alt=""
                        class="article-image">
                </a>
            </div>

        </div>
    </section>
    <!-- Newsletter -->
    <section class="newsletter section">

        <div class="container">

            <h2 class="title section-title" data-name="Bản tin">Bản tin</h2>

            <div class="form-container-inner">

                <h6 class="title newsletter-title">Đăng ký nhận Bản Tin</h6>
                <p class="newsletter-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <form action="" class="form">
                    <input type="text" class="form-input" placeholder="Nhập email của bạn">
                    <button class="btn form-btn" type="submit">
                        <i class="ri-mail-send-line"></i>
                    </button>
                </form>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">

            <div class="company-data">
                <a href="/">
                    <!-- <img src="./assets/images/icon.png" alt=""> -->
                    <h3 class="animate-charcter">DarkT </h3>
                </a>
                <p class="company-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ipsum accusamus necessitatibus
                    reprehenderit officiis
                </p>

                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.facebook.com/Narutocunung/" class="list-link">
                            <i class="ri-facebook-circle-line"></i>
                        </a>
                        <a href="https://www.instagram.com/khanhho741/" class="list-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/khanhho741" class="list-link">
                            <i class="ri-twitter-line"></i>
                        </a>
                        <a href="#" class="list-link">
                            <i class="ri-youtube-line"></i>
                        </a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy; 2022 Khanh. All rights reserved</span>
            </div>

            <div>
                <h6 class="title footer-title">Danh Mục</h6>

                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="#" class="list-link">Anime</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Art</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Cosplay</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Technology</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Sport</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Science</a>
                    </li>
                </ul>
            </div>

            <div>
                <h6 class="title footer-title">Liên Kết Hữu Ích</h6>

                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="#" class="list-link">Trang chủ</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Yếu tố</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Thẻ</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Tác giả</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Thành viên</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Vấn đề</a>
                    </li>
                </ul>
            </div>

            <div>
                <h6 class="title footer-title">Công Ty</h6>

                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="#" class="list-link">Liên hệ chúng tôi</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">F.A.Q</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Sự nghiệp</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Người sáng lập</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Thành viên</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Địa chỉ</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

<!-- Swiper.js -->
<script src="http://localhost:8080/congkhai/assets/js/swiper-bundle.min.js"></script>

<!-- Js -->
<script src="http://localhost:8080/congkhai/assets/js/main.js"></script>

<!-- nhúng jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous">
    </script>

<script>

    $(document).ready(function(){
        const click_profile = document.querySelector(".click_profile")
        click_profile.addEventListener("click",(e)=>{
            console.log("id hien tai ", document.querySelector(".id_user").value )
            document.location.href = `/profile/${document.querySelector(".id_user").value}`
        })
    })
</script>

</html>