<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="http://localhost:8080/congkhai/loginRegisterForgotPassword.css">
</head>

<body>
    <div class="login-01">
        <div class="one-login  hvr-float-shadow">
            <div class="one-login-head">
                <h1>Đăng nhập</h1>
                <span></span>
            </div>
            <form method="post"  >
                <li>
                    <input type="text" class="text" placeholder="Username" name="UserName">
                    <a href="#" class=" icon user"></a>
                </li>

                <li>
                    <input type="password"  placeholder="Password" name="Password" >
                    <a href="#" class=" icon lock"></a>
                </li>

                <div class="checkbox">
                    <input type="checkbox" name="checkbox" checked >
                    <i></i>Lưu thông tin đăng nhập</div>
                
                <div class="submit">
                    <input type="submit" value="SIGN IN" style="
                    margin-top: 13px "/>
                </div>

                <h5>Bạn không có tài khoản ?<a href="/register"> Đăng ký </a></h5>
                <h5>Trở về trang chủ ?<a href="/"> Trang chủ </a></h5>
                <div class="p-container">
                    <h6><a href="/forgotpassword">Quên mật khẩu ?</a></h6>
                    <!-- <div class="clear"> </div> -->
                </div>
            </form>
        </div>
    </div>
</body>

</html>