<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="http://localhost:8080/congkhai/loginRegisterForgotPassword.css">
</head>

<body>
    <div class="login-02">
        <div class="two-login  hvr-float-shadow">
            <div class="two-login-head">
                <img src="images/top-note.png" alt="" />
                <h2>register</h2>
                <lable></lable>
            </div>
            <form method="post"  >

                <li>
                    <input type="text" class="text" placeholder="username" name="UserName" />
                    <a href="#" class=" icon2 user2"></a>
                </li>
    
                <li>
                    <input type="password" placeholder="Password" name="PassWord" />
                    <a href="#"  class=" icon2 lock2"></a>
                </li>
                <li>
                    <input type="password"  placeholder="Confirm Password" name="ConfirmPassWord" />
                    <a href="#"  class=" icon2 lock2"></a>
                </li>
                <li>
                    <input type="text" class="text"  placeholder="Email" name="Email"  />
                        <a href="#" class=" icon2 mail"></a>
                </li>

                <div class="submit two">
                    <input type="submit"  value="SIGN UP" />
                </div>
                <h5>Already a member ?<a href="/login"> Login Here</a></h5>
            </form>
        </div>
    </div>
</body>

</html>